@model SimpleInventory.Data.Entities.Product
@{
    ViewBag.Title = "Delete Product";
}

<h2>Delete Product</h2>
<p>Are you sure you want to delete "@Model.Name"?</p>

<form method="post">
    <button type="submit">Delete</button>
    <a href="/Products">Cancel</a>
</form>
