@model List<SimpleInventory.Data.Entities.Category>
@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<table border="1">
    <tr>
        <th>Name</th>
    </tr>
    @foreach(var c in Model)
    {
        <tr><td>@c.Name</td></tr>
    }
</table>

<a href="/Categories/Create">Create New Category</a>
